.card-container{
    
    width: calc((80% / 4));
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: red;
    filter: drop-shadow(5px 5px 1px#000);
}
.card-container>image{
    
    width: 100%;
    height: 200px;
    
}